#ldc_set_port -iobuf {DRIVE=8} [get_ports led_b]
#ldc_set_port -iobuf {DRIVE=8} [get_ports uart_txd]
#ldc_set_port -iobuf {PULLMODE=100K} [get_ports rstn]
#ldc_set_port -iobuf {PULLMODE=NA DRIVE=NA} [get_ports clk]

set_io --warn-no-port led_b 40
set_io --warn-no-port led_g 39
set_io --warn-no-port led_r 41
set_io --warn-no-port rstn 10
set_io --warn-no-port clk 35
set_io --warn-no-port spi_sck 38
set_io --warn-no-port spi_mosi 37
set_io --warn-no-port spi_miso 36
set_io --warn-no-port spi_cs 34
set_io --warn-no-port rng_bits_output[0] 45
set_io --warn-no-port rng_bits_output[1] 47
set_io --warn-no-port rng_bits_output[2] 2
set_io --warn-no-port rng_bits_output[3] 4
set_io --warn-no-port rng_bits_output[4] 44
set_io --warn-no-port rng_bits_output[5] 46
set_io --warn-no-port rng_bits_output[6] 48
set_io --warn-no-port rng_bits_output[7] 3
set_frequency clk 12
